.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 120px 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.centered {
  justify-content: center;
  align-items: center;
}

.large-button {
  margin: 20px 5px 20px 5px;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  border-radius: .3rem;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background-color: white;
  color: orange;
}

.small-button {
  margin: 0 0 0 4px;
  padding: 1px 4px;
  border-radius: 18px;
  background-color: orange;
  color: white;
}

.submit-button {
  background-color: white;
  color: orange;
}

.header {
  margin: 48px 24px 24px 24px;
  font-family: Simpsons;
  font-size: 80px;
}

.quote {
  font-family: 'Simpsons';
  font-size: 24px;
  max-width: 800px;
  border-radius: 25px;
  padding: 20px;
  background-color: white;
  opacity: .75;
}

.quote-image {
  height: 400px;
  width: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border-radius: 25px;
  background-color: orange;
  color: white;
  max-width: 40em;
}

.increment-decrement-button {
  background-color: orange;
  color: white;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left;
  margin: 60px 10px 10px 10px;
  padding: 10px;
  border-radius: 25px;
  min-height: 200px;
  min-width: 200px;
  max-width: 400px;
  background-color: white;
  h2 {
    align-self: center;
    margin-bottom: 8px;
  }
}

.count {
  margin: 24px;
  font-size: 60px;
}

.constraints {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;
  width: 100%;
  z-index: 2;
}
