.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  margin: 48px 24px 24px 24px;
  font-family: Simpsons;
  font-size: 80px;
  align-items: center;
}

.landing {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quote {
  font-family: 'Simpsons';
  font-size: 24px;
  max-width: 800px;
  border-radius: 25px;
  padding: 20px;
  background-color: white;
  opacity: 0.75;
}

.quote-image {
  height: 400px;
  width: auto;
}

.form-container {
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  margin: 20px;
  padding: 20px;
  border-radius: 25px;
  background-color: orange;
  color: white;
}

.large-button {
  margin: 10px;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background-color: white;
  color: orange;
}

.small-button {
  margin: 0 0 0 4px;
  border-radius: 25px;
  background-color: orange;
  color: white;
}

.submit-button {
  background-color: white;
  color: orange;
}

.increment-decrement-button {
  background-color: orange;
  color: white;
}

.list-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;
  border-radius: 25px;
  height: 100%;
  min-width: 200px;
  max-width: 400px;
  background-color: white;
}

.count {
  margin: 24px;
  font-size: 60px;
}

.counter-buttons {
  margin-bottom: 60px;
}
