* {
  box-sizing: border-box;
}

body {
  background-image: url("https://amymhaddad.s3.amazonaws.com/morocco-blue.png");
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  margin: 0;
}

input {
  margin: 10px;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  border: 1px solid transparent;
}

button {
  margin: 10px;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  border-radius: .3rem;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid transparent;
  background-color: white;
}

/* Removes arrows from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
